.container {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f900;
  min-height: 10vh;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
}

table,th,td {
  border: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.active {
  background-color: #4caf50;
  color: white;
}

